@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@800&family=Work+Sans:wght@700;800&display=swap');
*{
   padding: 0px; 
   margin: 0px;
}
body{
    margin: auto;
    padding: 0pX;
    font-family: 'Work Sans', sans-ser;
   box-sizing: border-box;
}